html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

dialog {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
}
dialog > div {
    padding: 2em;
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* ”¼“§–¾‚Ì”wŒi */
}
.buttons {
    margin-top: 0.5em;
    text-align: center;
}

#thumb li {
    display: inline-block;
    width: 210px;
    height: 210px;
    position: relative;
    border-radius: 3px;
    border: 1px solid gray;
    text-align: center;
}
    #thumb li::after {
        content: attr(title);
        position: absolute;
        bottom: 1em;
        left: 0;
        background: rgb(128, 128, 128, 0.5);
        color: black;
        font-size: 0.8em;
        text-align: start;
        text-shadow: 0px 1px 0px white, 1px 0px 0px white, 1px 1px 0px white, 0px -1px 0px white, -1px 0px 0px white, -1px -1px 0px white;
        display: -webkit-box;
        line-break: anywhere;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

#thumb img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

label, button {
    display: inline-block;
    padding: 0.25rem 0.7rem;
    border: 1px solid transparent;
    margin: 0.5rem;
    outline: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
}

button {
    border: 1px solid lightgray;
    border-radius: 3px;
}

.toolbar {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.25rem;
}

.toolbar input[type=checkbox] {
    display: none;
}

.list {
    display: none;
}

.open:has(input[type="checkbox"]:checked) ~ .list {
    display: inline-block;
}

.delete {
    color: white;
    background-color: #dc3545;
}
.delete:hover {
    background-color: #bb2d3b;
}
.move {
    color: white;
    background-color: #198754;
}
.move:hover {
    background-color: #157347;
}

.swiper {
    height: 100vh;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}