@page "{id}"
@model BookModel
@section Scripts
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="~/Pages/Book.cshtml.js" asp-append-version="true"></script>
    <script>
        const book = new Book("@(Model.Id)");
        book.startSwiper();
        book.setup();
    </script>
}
<style>
    html, body {
        position: relative;
        margin: 0;
        padding: 0;
    }
</style>
<div class="swiper">
    <div class="swiper-wrapper">
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>
<div class="toolbar">
    <span class="open">
        <label><input type="checkbox">::</label>
    </span>
    <span class="list">
        <button class="delete">削除</button>
        <button class="move">移動</button>
    </span>
</div>
<dialog id="confirm">
    <div>
        <div class="content"></div>
        <div class="buttons"></div>
    </div>
</dialog>
