@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
@foreach (var bucket in Model.Options.ShelfBuckets)
{
    <strong>@(bucket.Name)</strong>
    <ul id="thumb">
        @foreach (var obj in Model.List(bucket.Bucket).OrderBy(x => Random.Shared.Next()).Take(10).OrderBy(x => x.Name))
        {
            <li title="@(obj.Name)">
                <a href="book/@(obj.Hash)">
                    <img src="api/bookshelf/thumb/@(obj.Hash)" loading="lazy">
                </a>
            </li>
        }
    </ul>
}
